In [2]:
# importar bibliotecas
import pandas as pd
import numpy as np
from sklearn import preprocessing

# definir o nome das colunas
names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex', 
        'capital-gain', 'capital-loss', 'hours-per-week','native-country', 
        'class']


# importar a base e colocar os nomes das colunas
df = pd.read_csv('adult.data', header=None, names=names)

In [3]:
df.keys()

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'class'],
      dtype='object')

In [4]:
# excluir as colunas que não serão utilizadas no modelo
df = df.drop(['fnlwgt','education-num'], axis=1)

In [5]:
# exlcuir as linhas que não possuem valor em alguma feature
df.dropna(inplace=True)

In [8]:
non_numerical = ['workclass', 'education', 'marital-status', 'occupation', 
'relationship', 'race', 'sex', 'native-country']
le = preprocessing.LabelEncoder()
for x in non_numerical:
    le.fit(df[x])
    df[x] = le.transform(df[x].astype(str))

In [9]:
df

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,7,9,4,1,1,4,1,2174,0,40,39,<=50K
1,50,6,9,2,4,0,4,1,0,0,13,39,<=50K
2,38,4,11,0,6,1,4,1,0,0,40,39,<=50K
3,53,4,1,2,6,0,2,1,0,0,40,39,<=50K
4,28,4,9,2,10,5,2,0,0,0,40,5,<=50K
5,37,4,12,2,4,5,4,0,0,0,40,39,<=50K
6,49,4,6,3,8,1,2,0,0,0,16,23,<=50K
7,52,6,11,2,4,0,4,1,0,0,45,39,>50K
8,31,4,12,4,10,1,4,0,14084,0,50,39,>50K
9,42,4,9,2,4,0,4,1,5178,0,40,39,>50K
10,37,4,15,2,4,0,2,1,0,0,80,39,>50K
11,30,7,9,2,10,0,1,1,0,0,40,19,>50K
12,23,4,9,4,1,3,4,0,0,0,30,39,<=50K
13,32,4,7,4,12,1,2,1,0,0,50,39,<=50K
14,40,4,8,2,3,0,1,1,0,0,40,0,>50K
15,34,4,5,2,14,0,0,1,0,0,45,26,<=50K
16,25,6,11,4,5,3,4,1,0,0,35,39,<=50K
17,32,4,11,4,7,4,4,1,0,0,40,39,<=50K
18,38,4,1,2,12,0,4,1,0,0,50,39,<=50K
19,43,6,12,0,4,4,4,0,0,0,45,39,>50K
20,40,4,10,2,10,0,4,1,0,0,60,39,>50K
21,54,4,11,5,8,4,2,0,0,0,20,39,<=50K
22,35,1,6,2,5,0,2,1,0,0,40,39,<=50K
23,43,4,1,2,14,0,4,1,0,2042,40,39,<=50K
24,59,4,11,0,13,4,4,0,0,0,40,39,<=50K
25,56,2,9,2,13,0,4,1,0,0,40,39,>50K
26,19,4,11,4,3,3,4,1,0,0,40,39,<=50K
27,54,0,15,2,0,0,1,1,0,0,60,35,>50K
28,39,4,11,0,4,1,4,1,0,0,80,39,<=50K
29,49,4,11,2,3,0,4,1,0,0,40,39,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,0,9,4,0,1,1,0,0,0,99,39,<=50K
32532,34,4,10,2,10,0,4,1,0,0,60,39,>50K
32533,54,4,9,2,4,0,1,1,0,0,50,24,>50K
32534,37,4,15,0,1,4,4,0,0,0,39,39,<=50K
32535,22,4,2,4,11,3,2,1,0,0,35,39,<=50K
32536,34,4,9,4,4,1,4,0,0,0,55,39,>50K
32537,30,4,11,4,3,1,2,1,0,0,46,39,<=50K
32538,38,4,9,0,10,4,2,0,15020,0,45,39,>50K
32539,71,0,10,2,0,0,4,1,0,0,10,39,>50K
32540,45,7,11,5,1,3,4,0,0,0,40,39,<=50K
32541,41,0,11,5,0,1,2,0,0,0,32,39,<=50K
32542,72,0,11,2,0,0,4,1,0,0,25,39,<=50K
32543,45,2,7,0,10,4,4,0,0,0,48,39,<=50K
32544,31,4,12,0,8,1,3,0,0,0,30,39,<=50K
32545,39,2,7,2,1,5,4,0,0,0,20,39,>50K
32546,37,4,7,0,13,1,4,0,0,0,40,39,<=50K
32547,43,4,11,2,7,0,4,1,0,0,40,26,<=50K
32548,65,6,14,4,10,1,4,1,1086,0,60,39,<=50K
32549,43,7,15,0,1,2,4,0,0,0,40,39,<=50K
32550,43,6,15,2,3,0,4,1,0,0,50,39,<=50K
32551,32,4,0,2,6,0,0,1,0,0,40,39,<=50K
32552,43,4,8,2,12,0,4,1,0,0,45,39,<=50K
32553,32,4,12,4,13,1,1,1,0,0,11,36,<=50K
32554,53,4,12,2,4,0,4,1,0,0,40,39,>50K
32555,22,4,15,4,11,1,4,1,0,0,40,39,<=50K
32556,27,4,7,2,13,5,4,0,0,0,38,39,<=50K
32557,40,4,11,2,7,0,4,1,0,0,40,39,>50K
32558,58,4,11,6,1,4,4,0,0,0,40,39,<=50K
32559,22,4,11,4,1,3,4,1,0,0,20,39,<=50K
32560,52,5,11,2,4,5,4,0,15024,0,40,39,>50K

In [10]:
# criar uma matriz X e o vetor y
X = np.array(df.iloc[:, 0:12]) 	# features
y = np.array(df['class'])

In [13]:
X

array([[39,  7,  9, ...,  0, 40, 39],
       [50,  6,  9, ...,  0, 13, 39],
       [38,  4, 11, ...,  0, 40, 39],
       ...,
       [58,  4, 11, ...,  0, 40, 39],
       [22,  4, 11, ...,  0, 20, 39],
       [52,  5, 11, ...,  0, 40, 39]])

In [12]:
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [14]:
# criação de intervalo de números ímpares de K para KNN
neighbors = list(range(1,50,2))


# criação de intervalo de f para k-fold
cv_list = list(range(10,40))


# criação da estrutura de listas para armazenar valores
k_list = []
fold_list = []
cv_scores = []

In [ ]:
# importar bibliotecas
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing

# executar KNN e k-fold cross validation
for k in neighbors:
  for f in cv_list:
      knn = KNeighborsClassifier(n_neighbors=k)
      scores = cross_val_score(knn, X, y, cv=f, scoring='accuracy')
      cv_scores.append(scores.mean())  #popular listas
      k_list.append(k)                 
      fold_list.append(f)

In [ ]:
# calcular o erro 
MSE = [1 - x for x in cv_scores]

# contrução do dataframe
df_1 = pd.DataFrame (k_list, columns=['k_list'])
df_2 = pd.DataFrame (fold_list, columns=['fold_list'])
df_3 = pd.DataFrame (MSE, columns=['MSE'])
df_knn = pd.concat([df_1, df_2, df_3], axis=1)

# retorna o menor erro obtido
optimal_k = min(df_knn['MSE'])

# retorna os valores de k e f do menor erro obtido
index_opt = df_knn[df_knn['MSE'] == optimal_k].index.item()

In [ ]:
# importar bibliotecas
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d

# printar os resultados
print ("The optimal number of neighbors k is %d" % df_knn.loc[index_opt, 'k_list'] )
print ("The optimal number of folds f is %d" % df_knn.loc[index_opt, 'fold_list'] )
print ("Misclassification Error of %f" % optimal_k )

# plotar misclassification error vs k vs f (k-fold)
plt.rcParams['figure.figsize'] = (11,7)
fig = plt.figure()
ax = plt.axes(projection='3d')
color= ['red' if l == index_opt else 'grey' for l in df_knn.index.tolist()]
fc= ['red' if l == index_opt else 'none' for l in df_knn.index.tolist()]
ax.scatter3D(k_list, fold_list, MSE, s=20, facecolor = fc, edgecolors=color, 
depthshade=False)

# nomear o gráfico e os eixos
ax.set_title('Soluções algorítimo KNN')
ax.set_xlabel('k_list')
ax.set_ylabel('fold_list')
ax.set_zlabel('MSE')